doctype html
html
    head
        title Halo
    body
        h1 Sugeng Rawuh
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus impedit non repudiandae consectetur error obcaecati velit atque rem eveniet deserunt praesentium optio incidunt quisquam assumenda molestias earum, consequuntur minus!